
<div *ngIf="movie$ | async ">
  <p-card>
    <div class="p-grid p-nogutter">
      <div class="p-col-12 p-md-3 p-lg-2">
        <img src="{{ movie.Poster }}" alt="{{ movie.Title }} poster" class="movie-poster">
      </div>
      <div class="p-col">
        <h1>{{ movie.Title }}</h1>
        <div class="p-grid p-nogutter">
          <div class="p-col">
            <p><strong>Release Date:</strong> {{ movie.Released }}</p>
          </div>
          <div class="p-col">
            <p><strong>Runtime:</strong> {{ movie.Runtime }}</p>
          </div>
          <div class="p-col">
            <p><strong>Genre:</strong> {{ movie.Genre }}</p>
          </div>
        </div>
        <div class="p-grid p-nogutter">
          <div class="p-col">
            <p><strong>Director:</strong> {{ movie.Director }}</p>
          </div>
          <div class="p-col">
            <p><strong>Writer:</strong> {{ movie.Writer }}</p>
          </div>
          <div class="p-col">
            <p><strong>Actors:</strong> {{ movie.Actors }}</p>
          </div>
        </div>
        <p><strong>Plot:</strong> {{ movie.Plot }}</p>
        <div class="p-grid p-nogutter">
          <div class="p-col">
            <p-dropdown [options]="trackedStateOptions" [(ngModel)]="selectedState"></p-dropdown>
            <p-button type="button" label="Track Movie" (click)="trackMovie()"></p-button>
          </div>
          <div class="p-col">
          </div>
        </div>
      </div>
    </div>

    <ul>
      <li *ngFor="let link of watchLinks">
        <a href="{{link}}" target="_blank">{{link}}</a>
      </li>
    </ul>

  </p-card>
</div>


