<app-navbar></app-navbar>
<app-search-bar class="content"></app-search-bar>
<div *ngIf="IsLoggedIn">
  <p-table [value]="trackedMediaList" [tableStyle]="{'min-width': '50rem','border-radius': '10%'}">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>Title </th>
        <th>Year</th>
        <th>Status</th>
        <th>Delete</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-trackedMedia let-columns="columns">
      <tr>
        <td>{{trackedMedia.title}}</td>
        <td>{{trackedMedia.year}}</td>
        <td><p-tag [value]="TrackedState[trackedMedia.trackedState].toString()" [severity]="'success'"></p-tag></td>
        <td><p-button (onClick)="listDelete(trackedMedia.id)">Delete</p-button></td>
      </tr>
    </ng-template>
  </p-table>
</div>

